<div class="container pt-5">
    <mat-card class="col-8 mx-auto text-center">
        <h1>Employee {{ employeId ? 'Update' : 'Registration' }} Form</h1>

        <form [formGroup] = "registerForm" #formDirective="ngForm" (ngSubmit)="onSubmit(registerForm, formDirective)" >
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Employee name</mat-label>
                    <input type="text" matInput formControlName="name" placeholder="Ex. John William">
                    <mat-error
                    *ngIf="registerForm.get('name').hasError('required')">
                        Full name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

            </div>

            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Employee Mail</mat-label>
                    <input type="text" matInput formControlName="email" placeholder="Ex.john@customfurnish.com">
                    <mat-error *ngIf="registerForm.get('email').hasError('required')">
                        Email is <strong>required</strong></mat-error>
                    <mat-error *ngIf="registerForm.get('email').hasError('invalidMail')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field> 
            </div> 

            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Employee Id</mat-label>
                    <input [readonly]="update" type="text" matInput formControlName="empId" placeholder="Ex. HIN123">
                    <mat-error *ngIf="registerForm.get('empId').hasError('required')">
                        Employee Id is <strong>required</strong>
                    </mat-error>
                
                    <mat-error *ngIf="registerForm.get('empId').hasError('invalidempId')">
                        Please enter valid Id
                    </mat-error>
                </mat-form-field>  
            </div>

            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Employee Ph.no</mat-label>
                    <input type="text" matInput formControlName="empNumber" placeholder="Ex. 1234567892">
                    <mat-error *ngIf="registerForm.get('empNumber').hasError('required')">
                        Employee Phone number is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('empNumber').hasError('invalidNumber')">
                        Please enter valid number
                    </mat-error>
                </mat-form-field>
            </div>

             <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Employee Designation</mat-label>
                    <mat-select formControlName="empRole">
                        <mat-option *ngFor= "let role of roles" [value]="role.id">{{role.designation}}</mat-option>                        
                    </mat-select>
                </mat-form-field>
            </div> 

            <div class="form-group" *ngIf="!employeId">
                <mat-form-field appearance="outline">
                    <mat-label>User name</mat-label>
                    <input type="text" matInput formControlName="username" placeholder="john">
                    <mat-error *ngIf="registerForm.get('username').hasError('required')">
                        User name is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('username').hasError('userNameNotAvailable')">
                        Enter valid user name
                    </mat-error>

                </mat-form-field>
        
            </div> 

            <div class="form-group" *ngIf="!employeId">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" placeholder="Ex. john12@7856">
                    <mat-error *ngIf="registerForm.get('password').hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('password').hasError('invalidPassword')">
                        Please enter valid password
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group" *ngIf="!employeId">
                <mat-form-field appearance="outline">
                    <mat-label>Confirm password</mat-label>
                    <input type="password" matInput formControlName="confirmPassword" placeholder="Retype password">
                    <mat-error *ngIf="registerForm.get('confirmPassword').hasError('required')">
                        Please type correct password
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('confirmPassword').hasError('passwordMismatch')">
                        Password doesnot match
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <button mat-button type="submit" class="btn btn-success" >{{ employeId ? 'Update' : 'Register' }}</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-button type="reset" class="btn btn-reset"  *ngIf="!employeId">Reset</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <!-- <button mat-button class="btn"  (click)="getDataFromDjango()">Get Data</button> -->
            </div>

        </form>

    </mat-card>
</div>




<!-- <div class="container">
  <div class="row">
      <div class="col-md-8 mx-auto">
          <div class="card">
              <div class="card-header">
                  <h1>Employee {{ employeId ? 'Update' : 'Registration' }} Form</h1>
              </div>
              <div class="card-body">
                  <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                          <label>Employee Name</label>
                          <input type="text" class="form-control" formControlName="name">
                          <span class="text-danger"
                              *ngIf="(registerFormControl.name.touched || submitted) && registerFormControl.name.errors?.required"><br>
                              Name is required
                          </span>
                      </div>
                      <div class="form-group">
                          <label>Employee Email</label>
                          <input type="text" class="form-control" formControlName="email">
                          <span class="text-danger"
                              *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required"><br>
                              Email is required
                          </span>
                          <span class="text-danger"
                              *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.invalidMail"><br>
                              Enter a valid email address
                          </span>
                      </div>
                      <div class="form-group">
                        <label>Employee ID</label> 
                        <input type="text" class="form-control" formControlName="empId">
                        <span class="text-danger"
                            *ngIf="(registerFormControl.empId.touched || submitted) && registerFormControl.empId.errors?.required"><br>
                            ID required
                        </span>
                        <span class="text-danger"
                              *ngIf="registerFormControl.empId.touched && registerFormControl.empId.errors?.invalidempId"><br>
                              Id should start with HIN
                        </span>

                      </div>
                      <div class="form-group">
                          <label>Employee Phone number</label>
                          <input type="text" class="form-control" formControlName="empNumber">
                          <span class="text-danger"
                            *ngIf="(registerFormControl.empNumber.touched || submitted) && registerFormControl.empNumber.errors?.required"><br>
                            Number required
                          </span>
                          <span class="text-danger"
                            *ngIf="registerFormControl.empNumber.touched && registerFormControl.empNumber.errors?.invalidNumber"><br>
                            Enter valid Phone number
                          </span>
                      </div>
                      <div class="form-group">
                          <label>Employee Role</label>
                          <select name="role" id="role"  formControlName="empRole">
                              <option value="Associate Software Engineer">Associate Software Engineer</option>
                              <option value="Trainee Software Engineer">Trainee Software Engineer</option>
                          </select>

                      </div>
                      
                      
                      <div class="form-group" *ngIf="!employeId">
                          <label>User Name</label>
                          <input type="text" class="form-control" formControlName="username">
                          <span class="text-danger"
                              *ngIf="(registerFormControl.username.touched || submitted) && registerFormControl.username.errors?.required"><br>
                              User Name is required
                          </span>
                          <span class="text-danger"
                              *ngIf="registerFormControl.username.touched && registerFormControl.username.errors?.userNameNotAvailable"><br>
                              User Name is not available
                          </span>
                      </div>
                      <div class="form-group"  *ngIf="!employeId">
                          <label>Password</label>
                          <input type="password" class="form-control" formControlName="password">
                          <span class="text-danger"
                              *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required"><br>
                              Password is required
                          </span>
                          <span class="text-danger"
                              *ngIf="registerFormControl.password.touched && registerFormControl.password.errors?.invalidPassword"><br>
                              Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                              letter and 1 number
                          </span>
                      </div>
                      <div class="form-group"  *ngIf="!employeId">
                          <label>Confirm Password</label>
                          <input type="password" class="form-control" formControlName="confirmPassword">
                          <span class="text-danger"
                              *ngIf="(registerFormControl.confirmPassword.touched || submitted)&& registerFormControl.confirmPassword.errors?.required"><br>
                              Confirm Password is required
                          </span>
                          <span class="text-danger"
                              *ngIf="registerFormControl.confirmPassword.touched && registerFormControl.confirmPassword.errors?.passwordMismatch"><br>
                              Passwords doesnot match
                          </span>
                      </div>
                      <div class="form-group">
                          <button type="submit" class="btn btn-success">{{ employeId ? 'Update' : 'Register' }}</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <button type="reset" class="btn btn-reset" (click)="validateForm()" *ngIf="!employeId">Reset</button>                         
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div> -->



















