button.addemp{
    background-color: green;
    
    

}
.search{
    padding: 20px;
    color: black;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
button{
    background-color: rgb(19, 37, 206);
    color: white;
    border-color: rgb(19, 37, 206);

}
button.delete{
    background-color:red;
    color: white;
    border-color:red;
    

}
th{
    
    color: green;
    font-size: 20px;
    text-align: center;
}
td{
    font-size: medium;
}
