<div class="employee-list">  
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Employee Name</th>
        <th>Employee Mail</th>
        <th>Employee Id</th>
        <th>Employee ph.no</th>
        <th>Employee Designation</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of Employee">
        <td class="hidden">{{emp.name}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.empNumber}}</td>
        <td>{{emp.empRole}}</td>
        <td>{{emp.empId}}</td>
      </tr>
    </tbody>
    </table>
  </div>
