.navright a{
    float:right;
}
.search{
    padding: 30px;
    color: black;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
button{
    background-color: rgb(19, 37, 206);
    color: white;
    border-color: rgb(19, 37, 206);

}
th{
    color: green;
    font-size: 20px;
}
