<!--<div class="employee-list">  
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Employee Name</th>
        <th>Employee Mail</th>
        <th>Employee Id</th>
        <th>Employee ph.no</th>
        <th>Employee Designation</th>
        <th>Actions</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of empdata;let i = index">
        
        <td class="hidden">{{emp.name}}</td>-->
        <!--<td>{{emp.name}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.empId}}</td>
        <td>{{emp.empNumber}}</td>
        <td>{{emp.empRole}}</td>
        <td>
          <button (click)="editData(emp)">Edit</button>
          <button (click)="deletedata(emp)">Delete</button>
        </td>
      </tr>

      
    </tbody>
    </table>
</div>-->
<table>
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Employee Mail</th>
      <th>Employee Id</th>
      <th>Employee ph.no</th>
      <th>Employee Designation</th>
      <th>Actions</th>
      
    </tr>

    
  </thead>
  <tbody>
    <tr *ngFor="let emp of empdata;let i = index">
        
     
      <td>{{emp.name}}</td>
      <td>{{emp.email}}</td>
      <td>{{emp.empId}}</td>
      <td>{{emp.empNumber}}</td>
      <td>{{emp.empRole}}</td>
      <td>
        <button (click)="editData(emp)">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button (click)="deletedata(emp)">Delete</button>
      </td>
    </tr>

  </tbody>
</table>
