<div class="container">
  <div class="row">
      <div class="col-md-8 mx-auto">
          <div class="card">
              <div class="card-header">
                  <h1>Employee {{ employeId ? 'Update' : 'Registration' }} Form</h1>
              </div>
              <div class="card-body">
                  <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                          <label>Employee Name</label>
                          <input type="text" class="form-control" formControlName="name">
                          <span class="text-danger"
                              *ngIf="(registerFormControl.name.touched || submitted) && registerFormControl.name.errors?.required"><br>
                              Name is required
                          </span>
                      </div>
                      <div class="form-group">
                          <label>Employee Email</label>
                          <input type="text" class="form-control" formControlName="email">
                          <span class="text-danger"
                              *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required"><br>
                              Email is required
                          </span>
                          <span class="text-danger"
                              *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.invalidMail"><br>
                              Enter a valid email address
                          </span>
                      </div>
                      <div class="form-group">
                        <label>Employee ID</label> 
                        <input type="text" class="form-control" formControlName="empId">
                        <span class="text-danger"
                            *ngIf="(registerFormControl.empId.touched || submitted) && registerFormControl.empId.errors?.required"><br>
                            ID required
                        </span>
                        <span class="text-danger"
                              *ngIf="registerFormControl.empId.touched && registerFormControl.empId.errors?.invalidempId"><br>
                              Id should start with HIN
                        </span>

                      </div>
                      <div class="form-group">
                          <label>Employee Phone number</label>
                          <input type="text" class="form-control" formControlName="empNumber">
                          <span class="text-danger"
                            *ngIf="(registerFormControl.empNumber.touched || submitted) && registerFormControl.empNumber.errors?.required"><br>
                            Number required
                          </span>
                          <span class="text-danger"
                            *ngIf="registerFormControl.empNumber.touched && registerFormControl.empNumber.errors?.invalidNumber"><br>
                            Enter valid Phone number
                          </span>
                      </div>
                      <div class="form-group">
                          <label>Employee Role</label>
                          <select name="role" id="role"  formControlName="empRole">
                              <option value="Associate Software Engineer">Associate Software Engineer</option>
                              <option value="Trainee Software Engineer">Trainee Software Engineer</option>
                          </select>
                          <!--<input type="text" class="form-control" formControlName="empRole">-->
                          <!--<span class="text-danger"
                            *ngIf="(registerFormControl.empRole.touched || submitted) && registerFormControl.empRole.errors?.required">Mention Designation
                          </span>-->
                      </div>
                      
                      
                      <div class="form-group" *ngIf="!employeId">
                          <label>User Name</label>
                          <input type="text" class="form-control" formControlName="username">
                          <span class="text-danger"
                              *ngIf="(registerFormControl.username.touched || submitted) && registerFormControl.username.errors?.required"><br>
                              User Name is required
                          </span>
                          <span class="text-danger"
                              *ngIf="registerFormControl.username.touched && registerFormControl.username.errors?.userNameNotAvailable"><br>
                              User Name is not available
                          </span>
                      </div>
                      <div class="form-group"  *ngIf="!employeId">
                          <label>Password</label>
                          <input type="password" class="form-control" formControlName="password">
                          <span class="text-danger"
                              *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required"><br>
                              Password is required
                          </span>
                          <span class="text-danger"
                              *ngIf="registerFormControl.password.touched && registerFormControl.password.errors?.invalidPassword"><br>
                              Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                              letter and 1 number
                          </span>
                      </div>
                      <div class="form-group"  *ngIf="!employeId">
                          <label>Confirm Password</label>
                          <input type="password" class="form-control" formControlName="confirmPassword">
                          <span class="text-danger"
                              *ngIf="(registerFormControl.confirmPassword.touched || submitted)&& registerFormControl.confirmPassword.errors?.required"><br>
                              Confirm Password is required
                          </span>
                          <span class="text-danger"
                              *ngIf="registerFormControl.confirmPassword.touched && registerFormControl.confirmPassword.errors?.passwordMismatch"><br>
                              Passwords doesnot match
                          </span>
                      </div>
                      <div class="form-group">
                          <button type="submit" class="btn btn-success">{{ employeId ? 'Update' : 'Register' }}</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <button type="reset" class="btn btn-reset" (click)="validateForm()" *ngIf="!employeId">Reset</button>                         
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>