h1{
    color: green;
    text-align: center;
    text-decoration: none;
}

button{
    background-color: blue;
    color: white;
}

mat-card {
  max-width: 500px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display:block;
}
// // .text-danger{
// //     border-color: red;
// // }

// label{
//     text-align: center;
//     color: black;
//     font-size: 19px;
//     font-family: Arial;

// }
// .form-group{
//     text-align: center;
//     //color:red;
//     padding: 10px;
// }
